
/* 

- light grey #f1f5f9
- white #fff
- light pink #ffe8f1
- dark pink #ff69a6
- light blue #ecf4ff
- dark blue #68a3ff

*/

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #f1f5f9;

}

/* card decoration */

.card {
    background: #fff;
    padding: 1.5rem 2rem;
    text-align: center;
    max-width: 400px;
    margin: 4rem auto;
    border-radius: 0.5rem;
    border: 1px solid transparent;
}

.card-1 {
    border-color:#ff69a6;
}

.card-2 {
    border-color: #68a3ff;
}

/* end of card decoration */

/* icon */

.icon {
    width: 40px;
    height: 40px;
    background: red;
    border-radius: 50%;
}

.card-1 .icon {
    background: #ff69a6;
}

.card-2 .icon {
    background: #68a3ff;
}

/* end of icon */

/* text */

.title {
    text-transform: capitalize;
    letter-spacing: 2px;
}

.text {
    line-height: 1.5;
    color: grey;
}
/* end of text */

/* button */

.btn {
    text-transform: capitalize;
    border: transparent;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    letter-spacing: 2px;
}

.btn-pink {
    background: #ff69a6;
    color: #ffe8f1;
}

.btn-blue {
    background: #68a3ff;
    color: #ecf4ff;
}

/* end  */